.results-page-container
{
    display:grid;
    margin: 15px 0px;

    .ant-row.results-row
    {
        width: 75vw;
        justify-self:center;

        .results-postlist-col
        {
            .ant-space
            {
                width: 100%;
                justify-self:center;
            }
        }
    }
}