.results-list {
    padding: 0px;
    margin: 0px;
    .ant-pagination {
        margin-left: 50%;
    }
    .ant-list-item {
        padding: 0px;
    }
    .results-list-card {
        padding: 0px;
        margin: 0px;
        width: 100%;

        .answer-text {
            width: 100%;
            display: flex;
            align-content: space-between;
            &.wrong-answer {
                background-color: rgba(214, 80, 80, 0.633);
            }

            &.correct-answer {
                background-color: rgba(9, 208, 59, 0.771);
            }

            &.user-answer {
                filter: saturate(2);
            }
        }
    }
}
